@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

#bgmasuk{
  background-image: url(../images/bgmasuk.jpg);
}

#bgstock{
  background-image: url(../images/bgstock.jpg);
}

#bgkeluar{
  background-image: url(../images/bgkeluar.jpg);
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #303030;
  overflow-x: hidden;
  padding-top: 58px;
}

.sidenav a#menu {
  text-align: left;
  padding: 15px 6px 15px 10px;
  margin: 5px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  background-color: #686868;
}

.sidenav a#logout {
  color: #ffffff;
  position: absolute;
  bottom: 0;
}

#jarakdashboard {
  width: 100% !important;
	padding-top: 20px;
  margin-left: 200px;
}

#jarak {
  width: 100%;
	padding-top: 50px;
  margin-left: 180px;
}